.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding: 1rem;
  background: var(--indigo-12);
  box-shadow: var(--shadow-1);

  .cmsName {
    grid-column: 1 / span 3;

    a {
      color: var(--slate-1);
    }
  }

  .content {
    grid-column: 4 / span 9;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
