.header {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--slate-7);

  .cmsName {
    flex: 1;

    a {
      color: var(--indigo-12);
      text-decoration: none;

      &:hover {
        color: var(--indigo-11);
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
