@use '../../../foundation/scss' as *;
@reference 'tailwindcss';

.componentPreviewContainer {
  flex: 1;
  @apply p-4;

  .header {
    @apply mb-4.5;
  }

  .compositionArea {
    min-height: pxToRem(400);

    .controlsList {
      .controlItem {
        &:not(:last-child) {
          @apply mb-2;
        }

        .controlPreview {
          @apply bg-gray-50 border-1 border-gray-300 shadow-none;

          .controlActions {
            .controlMeta {
              font-style: italic;
            }

            .requiredIndicator {
              @apply text-red-500;
            }
          }
        }
      }

      .emptyControls {
        @apply p-5 rounded-md border-2 border-dashed border-gray-400 bg-gray-50;
        text-align: center;
      }
    }
  }
}

.unknownControl {
  padding: var(--space-3);
  border: 1px solid var(--gray-6);
  border-radius: var(--radius-2);
  background: var(--red-2);
  border-color: var(--red-6);
}
