@use '../../../foundation/scss' as *;

.componentLibrary {
  height: 100%;
  border-right: 1px solid var(--gray-4);
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-4);
  }

  .content {
    padding: var(--space-4);
    padding-top: 2px;
    flex: 1;
    overflow-y: auto;

    .emptyState {
      display: flex;
      justify-content: center;
      align-items: center;
      height: pxToRem(200);
      text-align: center;
    }

    .componentCard {
      transition: all 0.2s ease;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: var(--space-4);
      }

      &.selected {
        background: var(--orange-2);
      }

      .cardContent {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .cardInfo {
          flex: 1;
        }

        .cardActions {
          display: flex;
          gap: var(--space-2);
        }
      }
    }
  }
}
