@use '../../../foundation/scss' as *;
@reference 'tailwindcss';

.componentLibrary {
  height: 100%;
  @apply border-r-1 border-gray-300;

  .header {
    @apply p-4;
  }

  .content {
    @apply p-4;
    padding-top: 2px;
    flex: 1;
    overflow-y: auto;

    .emptyState {
      height: pxToRem(200);
      text-align: center;
    }

    .componentCard {
      cursor: pointer;

      &:not(:last-child) {
        @apply mb-4;
      }

      &.selected {
        @apply bg-sky-50 border-1 border-sky-200 shadow-none;
      }

      .cardContent {
        .cardInfo {
          flex: 1;
        }
      }
    }
  }
}
