@import '@repo/tailwind-config/styles.css';

* {
  box-sizing: border-box;
}

body {
  @apply text-slate-900;
  margin: 0;
  height: 100vh;

  .icon-collection {
    display: none;
  }

  .app-shell {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;

    .app-sidebar {
      @apply border-r border-gray-200;
      display: flex;
      flex-direction: column;

      nav {
        flex: 1;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li a {
            @apply block px-4 py-2.5 font-medium text-gray-600;

            &:not(.active):hover {
              @apply bg-gray-100 text-gray-600;
            }

            &.active {
              @apply bg-indigo-100 text-indigo-700 border-r-4  border-indigo-600;
            }
          }
        }
      }
    }

    .app-main {
      background: var(--slate-2);
      overflow-y: auto;
    }
  }
}
