.content {
  max-width: 450px;
  padding: var(--space-4);
  border-radius: var(--radius-4);
}

.title {
  margin-bottom: var(--space-3);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
}
